:root {

    --white: #FFF;
    --magenta: #F0F;
    --cyan: #0FF;
    --green: #0F0;
    --yellow: #FF0;
    --red: #F00;
    --blue: #00F;

    --darkwhite: #C0C0C0;
    --darkmagenta: #8D0084;
    --darkcyan: #008281;
    --darkgreen: #008200;
    --darkyellow: #808000;
    --darkred: #8D0000;
    --darkblue: #000086;
  }

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
    margin-top: 20px;
}
/*
.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    border: 1px solid #252525;
    padding: 10px;
    background: #494949;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/

.item-property {
    margin: 3px 0;
}

.prop-label {
    font-weight: bold;
    color: #555;
}

.prop-value {
    color: #222;
}

.item > div:empty {
    display: none;
}

.item {
    border: 1px solid #252525;
    border-radius: 6px;
    margin: 8px 0;
    padding: 8px;
    background: #494949;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
  }
  
  .row-top .name {
    font-weight: bold;
    font-size: 1.1em;
  }
  .row-top .alignment {
    font-style: italic;
    color: #666;
  }
  
  .row-mid .slot {
    font-weight: bold;
  }
  .row-mid .weight {
    text-align: right;
  }
  
  .row-stats {
    margin-top: 4px;
    color: darkred;
  }
  
  .row-spacer {
    height: 10px;
  }
  
  .row-classes {
    font-size: 0.9em;
    color: #004488;
  }
  
  .row-bottom {
    margin-top: 4px;
    font-size: 0.9em;
    color: #333;
  }
  .row-bottom .location {
    font-weight: bold;
  }



    .monster {color: var(--darkcyan);}
    .location {color: var(--darkyellow);}