/* Color Variables */
:root {
    --white: #FFF;
    --magenta: #F0F;
    --cyan: #0FF;
    --green: #0F0;
    --yellow: #FF0;
    --red: #F00;
    --blue: #00F;

    --darkwhite: #C0C0C0;
    --darkmagenta: #8D0084;
    --darkcyan: #008281;
    --darkgreen: #008200;
    --darkyellow: #808000;
    --darkred: #8D0000;
    --darkblue: #000086;
  }

body {
    font-family: "Micro 5", sans-serif;
    background-color: black;
    color: white;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
    margin-top: 20px;
}

/* Font */

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
/*
.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    border: 1px solid #252525;
    padding: 10px;
    background: #494949;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/

.item-property {
    margin: 3px 0;
}

.prop-label {
    font-weight: bold;
    color: #555;
}

.prop-value {
    color: #222;
}

.item > div:empty {
    display: none;
}

.item {
    border: 1px solid #252525;
    border-radius: 6px;
    margin: 8px 0;
    padding: 8px;
    background: #1b1b1b;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
  }
  
  .row-top .name {
    font-weight: bold;
    font-size: 1.1em;
  }
  .row-top .alignment {
    font-style: italic;
    color: #666;
  }
  
  .row-mid .slot {
    font-weight: bold;
  }
  .row-mid .weight {
    text-align: right;
  }
  
  .row-stats {
    margin-top: 4px;
  }
  
  .row-spacer {
    height: 10px;
  }
  
  .row-classes {
    font-size: 0.9em;
  }
  
  .row-bottom {
    margin-top: 4px;
    font-size: 0.9em;
  }
  .row-bottom .location {
    font-weight: bold;
  }


/* Item Styling */
.name {color: var(--darkcyan);}
.slot {color: var(--darkwhite);}
  

/* Category-level fallbacks */
.spells { color: purple; }
.other-identifiers { color: gray; }

/* Combat stats */
.combat-stats { color: var(--darkred); }
.stat-hr { font-weight: bold; color: red; }
.stat-dr { font-weight: bold; color: blue; }
.stat-ac { font-style: italic; color: brown; }
.stat-dd { text-decoration: underline; color: darkorange; }
.stat-mr { color: navy; }

/* Resistances */
.magic-resistance { color: darkblue; }
.res-fire { color: orangered; }
.res-cold { color: skyblue; }
.res-lightning { color: goldenrod; }
.res-poison { color: green; }

/* Attributes */
.attributes { color: teal; }
.attr-str { color: darkred; }
.attr-dex { color: darkgreen; }
.attr-con { color: olive; }
.attr-int { color: darkblue; }
.attr-wis { color: purple; }
.attr-cha { color: pink; }
.attr-agi { color: brown; }

/* Health & Mana */
.health-mana { color: green; }
.hp { font-weight: bold; color: var(--green); }
.mana { font-weight: bold; color: var(--darkmagenta); }


/* Drops at */
.monster {color: var(--darkcyan);}
.location {color: var(--darkyellow);}